.title {
  display: block;           /* Blok elementi, tüm satırı kaplar */
  width: 100%;              /* Satırın tamamını kapla */
  text-align: center;       /* Yazıyı ortala */
  background-color: red;    /* Arka plan kırmızı */
  color: white;             /* Yazı rengi beyaz */
  padding: 50px 0;          /* Üst-alt boşluk */
  margin: 0;                /* Varsayılan üst-alt boşluğu kaldır */
  box-sizing: border-box;   /* Padding toplam genişliği bozmaz */
}
.genel {
  max-width: 600px;    /* Maksimum genişlik */
  margin: 0 auto;      /* Ortala */
  padding: 10px;       /* İç boşluk */
}
.boyut {
  max-width: 600px;
  display: flex;       /* Child’ları yan yana dizer */
  gap: 20px;           /* İki child arası boşluk */
}
.boyut fieldset {
 border: none;
}
.ratio {
  display: flex;
  flex-direction: column; /* Alt alta dizmek için */
  align-items: flex-start; /* Sola yaslar */

}

